In [18]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.compose import ColumnTransformer
import pickle

In [19]:
data = pd.read_csv('datasets/datapreprocessing.csv')
data.head()

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0      NaN            Yes

In [20]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [21]:
si = SimpleImputer(missing_values=np.nan, strategy='mean')
si.fit(x[:,1:])
x[:,1:] = si.transform(x[:,1:])

In [22]:
with open('imputer.pkl', 'wb') as f:
    pickle.dump(si, f)

In [23]:
le = LabelEncoder()
x[:,0] = le.fit_transform(x[:,0])

In [24]:
ct = ColumnTransformer([('Country', OneHotEncoder(), [0])], remainder='passthrough')
x = ct.fit_transform(x)

In [25]:
ss = StandardScaler()
x = ss.fit_transform(x)

In [26]:
x

array([[-0.65465367,  1.22474487, -0.65465367,  0.75887436,  0.74947325],
       [ 1.52752523, -0.81649658, -0.65465367, -1.71150388, -1.43817841],
       [-0.65465367, -0.81649658,  1.52752523, -1.27555478, -0.89126549],
       [ 1.52752523, -0.81649658, -0.65465367, -0.11302384, -0.25320042],
       [-0.65465367, -0.81649658,  1.52752523,  0.17760889,  0.        ],
       [-0.65465367,  1.22474487, -0.65465367, -0.54897294, -0.52665688],
       [ 1.52752523, -0.81649658, -0.65465367,  0.        , -1.0735698 ],
       [-0.65465367,  1.22474487, -0.65465367,  1.34013983,  1.38753832],
       [-0.65465367, -0.81649658,  1.52752523,  1.63077256,  1.75214693],
       [-0.65465367,  1.22474487, -0.65465367, -0.25834021,  0.29371249]])